.DS_Store
*.pyc
*.egg-info
*.swp
tags
/traceability_themes/public/css/*
!/traceability_themes/public/css
!/traceability_themes/public/.gitkeep
/traceability_themes/docs/current
/traceability_themes/public/js/lib